.version.vazhno /* version checker */
{
	color: #00001C;
	background-color: #B5B16A;
}

@-ms-viewport
{
	width: 1920px;
}

@-webkit-viewport
{
	width: 1920px;
}

@-o-viewport
{
	width: 1920px;
}

@-moz-viewport
{
	width: 1920px;
}

@viewport
{
	width: 1920px;
}

.html
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	width: 1920px;
	min-height: 5208px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: transparent;
}

#ppu1458
{
	width: 0.01px;
	margin-right: -10000px;
	margin-top: 14px;
	margin-left: 3px;
}

#pu1458
{
	width: 0.01px;
	margin-left: 24px;
}

#u1458
{
	z-index: 7;
	width: 173px;
	-pie-box-shadow: 6px 6px 8px #7F7F7F;
	box-shadow: 6px 6px 8px rgba(0,0,0,0.5);
	border-width: 1px;
	border-style: solid;
	border-color: #B92000;
	background-color: #F77C1E;
	border-radius: 10px 10px 0px 10px ;
	padding-bottom: 2px;
	position: relative;
	margin-right: -10000px;
	margin-top: 4px;
}

#u1458::before
{
	content: "";
	position: absolute;
	pointer-events: none;
	top: -1px;
	left: -1px;
	bottom: -1px;
	right: -1px;
	border-radius: 10px 10px 0px 10px ;
	box-shadow: inset 3px 3px 4px rgba(255,255,255,0.75), inset -3px -3px 4px rgba(0,0,0,0.75);
}

#u1458:hover
{
	background-color: #FFD2C2;
	width: 173px;
	min-height: 0px;
	margin: 4px -10000px 0px 0px;
}

#u1459-4
{
	z-index: 8;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 2px;
	left: 17px;
}

#u1662
{
	z-index: 6;
	width: 176px;
	height: 86px;
	margin-right: -10000px;
	left: 179px;
}

#accordionu1530
{
	z-index: 12;
	width: 372px;
	border-width: 1px;
	border-style: solid;
	border-color: #7F7F7F;
	background-color: transparent;
	margin-top: 2px;
	position: relative;
}

#u1531
{
	z-index: 13;
	width: 372px;
	background-color: transparent;
	position: relative;
}

#u1531_position_content
{
	margin-bottom: -52px;
}

#u1532
{
	z-index: 15;
	height: 102px;
	width: 372px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1532.png") no-repeat 0px 0px;
}

#u1532:hover
{
	background: url("../images/u1532-r.png") no-repeat 0px 0px;
}

#u1532:active
{
	background: url("../images/u1532-m.png") no-repeat 0px 0px;
}

#u1532.AccordionPanelTabOpen
{
	background: url("../images/u1532-a.png") no-repeat 0px 0px;
}

#u1533
{
	z-index: 19;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 40px;
	top: -26px;
	position: relative;
}

#u1534-27
{
	z-index: 20;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1535
{
	z-index: 47;
	width: 372px;
	background-color: transparent;
	margin-top: 26px;
	position: relative;
}

#u1538
{
	z-index: 49;
	height: 44px;
	width: 372px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1538.png") no-repeat 0px 0px;
}

#u1538:hover
{
	background: url("../images/u1538-r.png") no-repeat 0px 0px;
}

#u1538:active
{
	background: url("../images/u1538-m.png") no-repeat 0px 0px;
}

#u1538.AccordionPanelTabOpen
{
	background: url("../images/u1538-a.png") no-repeat 0px 0px;
}

#u1536
{
	z-index: 53;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 26px;
	top: -4px;
	position: relative;
}

#u1537-14
{
	z-index: 54;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 7px;
	left: 6px;
}

#u1539
{
	z-index: 68;
	width: 372px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1540
{
	z-index: 70;
	height: 44px;
	width: 372px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1540.png") no-repeat 0px 0px;
}

#u1540:hover
{
	background: url("../images/u1540-r.png") no-repeat 0px 0px;
}

#u1540:active
{
	background: url("../images/u1540-m.png") no-repeat 0px 0px;
}

#u1540.AccordionPanelTabOpen
{
	background: url("../images/u1540-a.png") no-repeat 0px 0px;
}

#u1541
{
	z-index: 74;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	padding-bottom: 20px;
	top: -4px;
	position: relative;
}

#u1542-17
{
	z-index: 75;
	width: 340px;
	min-height: 105px;
	border-style: none;
	border-color: transparent;
	background-color: transparent;
	color: #000000;
	text-align: justify;
	line-height: 20px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: 9px;
}

#u1542
{
	color: #FF0000;
}

#u1544
{
	z-index: 92;
	width: 372px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1535_position_content,#u1539_position_content,#u1544_position_content
{
	margin-bottom: -8px;
}

#u1545
{
	z-index: 94;
	height: 44px;
	width: 372px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1545.png") no-repeat 0px 0px;
}

#u1545:hover
{
	background: url("../images/u1545-r.png") no-repeat 0px 0px;
}

#u1545:active
{
	background: url("../images/u1545-m.png") no-repeat 0px 0px;
}

#u1545.AccordionPanelTabOpen
{
	background: url("../images/u1545-a.png") no-repeat 0px 0px;
}

#u1546
{
	z-index: 98;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	top: -4px;
	position: relative;
}

#u1548-83
{
	z-index: 99;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: -1px;
	left: -1px;
}

#u1549
{
	z-index: 182;
	width: 267px;
	height: 157px;
	position: relative;
	margin-right: -10000px;
	margin-top: 278px;
	left: 45px;
	background: transparent url("../images/klech.jpg") no-repeat center top;
	background-size: cover;
}

#u1560
{
	z-index: 183;
	width: 372px;
	background-color: transparent;
	margin-top: 4px;
	position: relative;
}

#u1560_position_content
{
	margin-bottom: -44px;
}

#u1561
{
	z-index: 185;
	height: 80px;
	width: 372px;
	vertical-align: top;
	position: relative;
	background: url("../images/u1561.png") no-repeat 0px 0px;
}

#u1561:hover
{
	background: url("../images/u1561-r.png") no-repeat 0px 0px;
}

#u1561:active
{
	background: url("../images/u1561-m.png") no-repeat 0px 0px;
}

#u1561.AccordionPanelTabOpen
{
	background: url("../images/u1561-a.png") no-repeat 0px 0px;
}

#u1562
{
	z-index: 189;
	width: 370px;
	border-width: 1px;
	border-style: solid;
	border-color: #FFFFFF;
	background-color: #FFFFFF;
	top: -22px;
	position: relative;
}

#u1588
{
	z-index: 190;
	width: 332px;
	height: 271px;
	position: relative;
	margin-right: -10000px;
	margin-top: 2027px;
	left: 24px;
	background: transparent url("../images/23948933.jpg") no-repeat left top;
	background-size: cover;
}

#u1581
{
	z-index: 191;
	width: 206px;
	height: 141px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1774px;
	left: 119px;
	background: transparent url("../images/s67504971.jpg") no-repeat left top;
	background-size: cover;
}

#u1574
{
	z-index: 192;
	width: 174px;
	height: 203px;
	position: relative;
	margin-right: -10000px;
	margin-top: 1442px;
	left: 171px;
	background: transparent url("../images/48271788.jpg") no-repeat left top;
	background-size: cover;
}

#u1566-161
{
	z-index: 193;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 17px;
	left: -2px;
}

#u1567
{
	z-index: 354;
	width: 187px;
	height: 166px;
	position: relative;
	margin-right: -10000px;
	margin-top: 797px;
	left: 145px;
	background: transparent url("../images/demax.jpg") no-repeat left top;
	background-size: contain;
}

.AccordionPanelTab /* accordion */
{
	cursor: pointer;
}

#pu844
{
	width: 0.01px;
	margin: 5122px -10000px -16px 21px;
}

#u844
{
	z-index: 2;
	width: 94px;
	height: 97px;
	margin-right: -10000px;
	left: 103px;
}

#u858
{
	z-index: 3;
	width: 68px;
	height: 82px;
	margin-right: -10000px;
	margin-top: 15px;
	left: 192px;
}

#u871
{
	z-index: 4;
	width: 122px;
	height: 102px;
	margin-right: -10000px;
}

#u1697
{
	z-index: 5;
	width: 83px;
	height: 72px;
	margin-right: -10000px;
	margin-top: 5128px;
	left: 291px;
}

body
{
	position: relative;
	min-width: 1920px;
	padding-bottom: 71px;
}

#page .verticalspacer
{
	clear: both;
	margin-bottom: -5121px;
}

