#u1662
{
	position: relative;
	background: transparent url("../images/logotip.jpg") no-repeat left top;
	background-size: contain;
}

#u844
{
	position: relative;
	background: transparent url("../images/vkontaktef-blocking.jpg") no-repeat left top;
	background-size: contain;
}

#u858
{
	position: relative;
	background: transparent url("../images/mail.png") no-repeat left top;
	background-size: contain;
}

#u871
{
	position: relative;
	background: transparent url("../images/icon-contakti.png") no-repeat left top;
	background-size: contain;
}

#u1697
{
	position: relative;
	background: transparent url("../images/w256h2561339870780ie.png") no-repeat left top;
	background-size: contain;
}

